/* Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* Colors */
:root {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.dark {
  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 800;
  color: var(--text-color);
  text-decoration: none;
}

nav .nav-bar .logo a:hover {
  color: red;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
  text-align: center;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a:hover {
  color: red;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: red;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dark-light i:hover,
.searchToggle i:hover {
  color: red;
}

.dark-light i.sun {
  color: rgb(255, 255, 0);
  pointer-events: auto;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

form {
  height: 50px;
}

.searchBox .search-field {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.searchToggle.active ~ .search-field {
  bottom: -70px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: black;
}

body.dark .search-field i {
  color: black;
}

.search-field i {
  position: absolute;
  color: rgb(255, 255, 255);
  right: 10px;
  bottom: 15px;
  font-size: 22px;
  cursor: pointer;
}

.donate {
  display: none;
}

@media (max-width: 855px) {
  nav .nav-bar .logo a {
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
  }
}

@media (max-width: 810px) {
  nav .nav-bar .logo a {
    font-size: 18px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
  }
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  nav .nav-bar .logo a {
    font-size: 18px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.5s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.5s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .sidebarClose {
    color: var(--text-color);
    font-size: 24px;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding: 60px 10px 0 10px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 769px) {
  .donate {
    display: block;
    padding-left: 27px;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 430px) {
  nav .nav-bar .logo a {
    font-size: 16px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
  }

  .menu {
    height: 100%;
    width: 275px;
    left: -150%;
  }

  .donate {
    display: block;
    padding-left: 27px;
  }

  .searchBox .search-field {
    width: 250px;
  }
}

@media (max-width: 1192px) {
  .nav-links li:hover a::before {
    opacity: 0;
  }
}
